#profileCard {
  width: 200px;
  padding: 10px;
  border: 5px solid black;
  margin: 5px;
  background-color: lightblue;
}

.name {
  font-size: 14px;
  font-weight: bold;
  text-align: center;
}

.blurb {
  font-size: 12px;
  color: darkblue;
  text-align: center;
}

img {
  width: 40%;
  height: 40%;
  border-radius: 3px;
}
